<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<gcServer enabled="true" />
	</runtime>
	<appSettings>

		<!-- определение таблиц и параметров для их идентификации -->
		<!-- 
			в строке 5 параметров
			1 - имя таблицы
			2 - номер строки заголовка таблицы, которая будет анализироваться
			3 - количество колонок, которое ожидаем в этой таблице
			4 - список номеров колонок, которые будут анализироваться (разделдитель - #)
			5 - значения в этих колонках (разделдитель - #). Значение в коде сравнивается через Contains.
		-->
		<add key="tables.1" value="valuation;0;4;0#3;Торговая площадка#Оценка, руб." />
		<add key="tables.2" value="portfolio;0;5;0#4;#Плановые показатели" />
		<add key="tables.3" value="money;0;9;0#8;Торговая площадка#Плановый исходящий остаток" />
		<add key="tables.4" value="operations;0;6;0#5;Дата#Сумма списания" />
		<add key="tables.5" value="deals;0;16;0#15;Дата заключения#Статус сделки" />
		<add key="tables.6" value="instruments;0;6;0#5;Наименование#Выпуск, Транш, Серия" />
		<add key="tables.7" value="repo;0;21;0#11;Дата заключения#РЕПО" />
		<add key="tables.8" value="money_out;0;5;0#4;Дата#Сумма" />
		<add key="tables.9" value="operations_other;1;11;0#10;Дата операции#Другие затраты" />
		<!-- I. ДОХОДЫ И РАСХОДЫ (без переноса убытка) -->
		<add key="tables.10" value="tax_1;0;7;0#4;Код договора#Код расхода или убытка" />
		<!-- II. ДОХОДЫ И РАСХОДЫ (консолидированные данные с переносом убытков) -->
		<add key="tables.11" value="tax_2;0;9;1#4;Код дохода#Код расхода или убытка" />
		<!-- III. ИТОГОВЫЙ ФИНАНСОВЫЙ РЕЗУЛЬТАТ -->
		<add key="tables.12" value="tax_final;0;8;0#1;Сумма дохода#Облагаемая сумма" />
		
		<!-- собственно таблицы -->
		<!-- 
			в строке от 3 до 4 параметров
			1 - имя колонки в объекте DataTable
			2 - тип колонки
			3 - имя колонки для отображения в экселе
			4 - пусто или формула. например формула вида "{Amount}+{Accrued}" будет превращена в формулу "RCi+RCii", где i и ii - номера колонок, если такие имена найдены в таблице.
			:order, :caption, .<n> - обязательный формат
			если исходная таблица имеет подзаголовки, то в коде он преобразыется в значение в колонке, это нужно учитывать и в определении колонок первой колонкой поставить именно ее.
		-->
		<!-- Оценка активов -->
		<add key="valuation:order" value="2" />
		<add key="valuation:caption" value="Оценка активов" />
		<add key="valuation.1" value="TradingSys;String;Торговая площадка" />
		<add key="valuation.2" value="AmountPortfolio;Double;Оценка портфеля ЦБ, руб." />
		<add key="valuation.3" value="AmountMoney;Double;Денежные средства, руб." />
		<add key="valuation.4" value="AmountTotal;Double;Оценка, руб." />

		<!-- Портфель Ценных Бумаг -->
		<add key="portfolio:order" value="3" />
		<add key="portfolio:skip" value="2" />
		<add key="portfolio:caption" value="Портфель Ценных Бумаг" />
		<add key="portfolio.1" value="TradingSys;String;Площадка" />
		<add key="portfolio.2" value="Instrument;String;Наименование" />
		<add key="portfolio.3" value="ISIN;String;ISIN ценной{NewLine}бумаги" />
		<add key="portfolio.4" value="Currency;String;Валюта{NewLine}рыночной{NewLine}цены" />
		<add key="portfolio.5" value="PeriodBeginQuantity;Double;Начало периода{NewLine}Количество, шт" />
		<add key="portfolio.6" value="PeriodBeginNominal;Double;Начало периода{NewLine}Номинал" />
		<add key="portfolio.7" value="PeriodBeginPrice;Double;Начало периода{NewLine}Рыночная цена" />
		<add key="portfolio.8" value="PeriodBeginAmount;Double;Начало периода{NewLine}Рыночная стоимость,{NewLine}без НКД" />
		<add key="portfolio.9" value="PeriodBeginAccrued;Double;Начало периода{NewLine}НКД" />
		<add key="portfolio.10" value="PeriodEndQuantity;Double;Конец периода{NewLine}Количество, шт" />
		<add key="portfolio.11" value="PeriodEndNominal;Double;Конец периода{NewLine}Номинал" />
		<add key="portfolio.12" value="PeriodEndPrice;Double;Конец периода{NewLine}Рыночная цена" />
		<add key="portfolio.13" value="PeriodEndAmount;Double;Конец периода{NewLine}Рыночная стоимость,{NewLine}без НКД" />
		<add key="portfolio.14" value="PeriodEndAccrued;Double;Конец периода{NewLine}НКД" />
		<add key="portfolio.15" value="PeriodChangeQuantity;Double;Изменение за период{NewLine}Количество, шт" />
		<add key="portfolio.16" value="PeriodChangePrice;Double;Изменение за период{NewLine}Рыночная стоимость" />
		<add key="portfolio.17" value="PlanIn;Double;Плановые зачисления{NewLine}по сделкам, шт" />
		<add key="portfolio.18" value="PlanOut;Double;Плановые списания{NewLine}по сделкам, шт" />
		<add key="portfolio.19" value="PlanRest;Double;Плановый исходящий{NewLine}остаток, шт" />

		<!-- Денежные средства -->
		<add key="money:order" value="5" />
		<add key="money:caption" value="Денежные средства" />
		<add key="money.1" value="TradingSys;String;Торговая площадка" />
		<add key="money.2" value="Currency;String;Валюта" />
		<add key="money.3" value="CoursePeriodEnd;Double;Курс на конец периода" />
		<add key="money.4" value="PeriodBegin;Double;Начало периода" />
		<add key="money.5" value="PeriodChange;Double;Изменение за период" />
		<add key="money.6" value="PeriodEnd;Double;Конец периода" />
		<add key="money.7" value="PlanIn;Double;Плановые зачисления{NewLine}по сделкам" />
		<add key="money.8" value="PlanOut;Double;Плановые списания{NewLine}по сделкам" />
		<add key="money.9" value="PlanRest;Double;Плановый исходящий{NewLine}остаток" />
		
		<!-- Движение денежных средств за период -->
		<add key="operations:order" value="7" />
		<add key="operations:caption" value="Движение денежных средств" />
		<add key="operations.1" value="Date;DateTime;Дата" />
		<add key="operations.2" value="TradingSys;String;Торговая площадка" />
		<add key="operations.3" value="Description;String;Описание операции" />
		<add key="operations.4" value="Currency;String;Валюта" />
		<add key="operations.5" value="AmountIn;Double;Сумма зачисления" />
		<add key="operations.6" value="AmountOut;Double;Сумма списания" />

		<!-- Сделки купли/продажи ценных бумаг -->
		<add key="deals:order" value="9" />
		<add key="deals:caption" value="Сделки купли продажи ЦБ" />
		<add key="deals.1" value="TradingSys;String;Площадка" />
		<add key="deals.2" value="DateDeal;DateTime;Дата заключения" />
		<add key="deals.3" value="DateSettlement;DateTime;Дата расчетов" />
		<add key="deals.4" value="TimeDeal;String;Время заключения" />
		<add key="deals.5" value="Instrument;String;Наименование ЦБ" />
		<add key="deals.6" value="InstrumentCode;String;Код ЦБ" />
		<add key="deals.7" value="Currency;String;Валюта" />
		<add key="deals.8" value="Type;String;Вид" />
		<add key="deals.9" value="Quantity;Double;Количество, шт." />
		<add key="deals.10" value="Price;Double;Цена" />
		<add key="deals.11" value="Amount;Double;Сумма" />
		<add key="deals.12" value="Accrued;Double;НКД" />
		<add key="deals.13" value="CommBrok;Double;Комиссия Брокера" />
		<add key="deals.14" value="CommExch;Double;Комиссия Биржи" />
		<add key="deals.15" value="DealNumber;String;Номер сделки" />
		<add key="deals.16" value="Comments;String;Комментарий" />
		<add key="deals.17" value="DealStatus;String;Статус сделки" />

		<!-- Движение ЦБ, не связанное с исполнением сделок -->
		<add key="operations_other:order" value="11" />
		<add key="operations_other:skip" value="2" />
		<add key="operations_other:caption" value="Другие движения ЦБ" />
		<add key="operations_other.1" value="TradingSys;String;Площадка" />
		<add key="operations_other.2" value="DateOperation;DateTime;Дата операции" />
		<add key="operations_other.3" value="Instrument;String;Наименование ЦБ" />
		<add key="operations_other.4" value="InstrumentCode;String;Код ЦБ" />
		<add key="operations_other.5" value="Type;String;Вид" />
		<add key="operations_other.6" value="Reason;String;Основание операции" />
		<add key="operations_other.7" value="Quantity;Double;Количество, шт." />
		<add key="operations_other.8" value="DateBuy;DateTime;Дата приобретения" />
		<add key="operations_other.9" value="Price;Double;Цена" />
		<add key="operations_other.10" value="CommBrok;Double;Комиссия Брокера,руб." />
		<add key="operations_other.11" value="CommExch;Double;Комиссия Биржи, руб." />
		<add key="operations_other.12" value="OtherExpenses;Double;Другие затраты" />

		<!-- Сделки РЕПО -->
		<add key="repo:order" value="13" />
		<add key="repo:caption" value="Сделки РЕПО" />
		<add key="repo.1" value="TypeRepo;String;Тип РЕПО" />
		<add key="repo.2" value="DateRepoDeal;DateTime;Дата{NewLine}заключения" />
		<add key="repo.3" value="TimeDeal;String;Время{NewLine}заключения" />
		<add key="repo.4" value="Instrument;String;Наименование{NewLine}ЦБ" />
		<add key="repo.5" value="InstrumentCode;String;Код{NewLine}ЦБ" />
		<add key="repo.6" value="Currency;String;Валюта" />
		<add key="repo.7" value="TypeDeal;String;Вид" />
		<add key="repo.8" value="Quantity;Double;Количество,{NewLine}шт." />
		<add key="repo.9" value="Price1Leg;Double;Цена 1-й{NewLine}части" />
		<add key="repo.10" value="Accrued1LEg;Double;НКД по 1-й{NewLine}части." />
		<add key="repo.11" value="Amount1Leg;Double;Сумма по 1-й{NewLine}части" />
		<add key="repo.12" value="DateSettlement1Leg;DateTime;Дата{NewLine}исполнения{NewLine}1-й части" />
		<add key="repo.13" value="RepoRate;Double;Ставка{NewLine}РЕПО,{NewLine}%" />
		<add key="repo.14" value="RepoPercent;Double;Процент{NewLine}РЕПО" />
		<add key="repo.15" value="Price2Leg;Double;Цена 2-й{NewLine}части" />
		<add key="repo.16" value="Accrued2Leg;Double;НКД по 2-й{NewLine}части" />
		<add key="repo.17" value="Amount2Leg;Double;Сумма по 2-й{NewLine}части" />
		<add key="repo.18" value="DateSettlement2Leg;DateTime;Дата{NewLine}исполнения{NewLine}2-й части" />
		<add key="repo.19" value="CommBrok;Double;Комиссия{NewLine}Брокера" />
		<add key="repo.20" value="CommExch;Double;Комиссия{NewLine}Биржи" />
		<add key="repo.21" value="DealNumber;String;Номер{NewLine}сделки" />
		<add key="repo.22" value="DealStatus;String;Статус{NewLine}сделки" />

		<!-- Выплаты дохода от эмитента на внешний счет -->
		<add key="money_out:order" value="15" />
		<add key="money_out:caption" value="Выплаты дохода на внешний счет" />
		<add key="money_out.1" value="Date;DateTime;Дата" />
		<add key="money_out.2" value="TradingSys;String;Торговая площадка" />
		<add key="money_out.3" value="Description;String;Описание операции" />
		<add key="money_out.4" value="Currency;String;Валюта" />
		<add key="money_out.5" value="Amount;Double;Сумма" />
		
		<!-- Справочник Ценных Бумаг -->
		<add key="instruments:order" value="17" />
		<add key="instruments:caption" value="Справочник ЦБ" />
		<add key="instruments.1" value="Instrument;String;Наименование" />
		<add key="instruments.2" value="InstrumentCode;String;Код" />
		<add key="instruments.3" value="ISIN;String;ISIN ценной бумаги" />
		<add key="instruments.4" value="Issuer;String;Эмитент" />
		<add key="instruments.5" value="Type;String;Вид, Категория, Тип, иная информация" />
		<add key="instruments.6" value="Issue;String;Выпуск, Транш, Серия" />

		<!-- Налоги -->
		<add key="tax_1:order" value="20" />
		<add key="tax_1:caption" value="PL без переноса убытка" />
		<add key="tax_1.1" value="a;String;Код договора" />
		<add key="tax_1.2" value="b;String;Код дохода" />
		<add key="tax_1.3" value="c;Double;Сумма дохода, руб." />
		<add key="tax_1.4" value="d;Double;Облагаемая сумма дохода или сумма убытка (указывается со знаком минус), руб." />
		<add key="tax_1.5" value="e;String;Код расхода или убытка" />
		<add key="tax_1.6" value="f;Double;Сумма документально подтвержденных расходов, руб." />
		<add key="tax_1.7" value="g;Double;Сумма стандартных налоговых вычетов, руб." />

		<add key="tax_2:order" value="21" />
		<add key="tax_2:caption" value="PL с переносом убытков" />
		<add key="tax_2.1" value="a;String;Наименование{NewLine}клиента" />
		<add key="tax_2.2" value="b;String;Код{NewLine}дохода" />
		<add key="tax_2.3" value="c;Double;Сумма{NewLine}дохода, руб." />
		<add key="tax_2.4" value="d;Double;Облагаемая сумма дохода или сумма убытка (указывается{NewLine}со знаком минус), руб." />
		<add key="tax_2.5" value="e;String;Код расхода или{NewLine}убытка" />
		<add key="tax_2.6" value="f;Double;Сумма документально{NewLine}подтвержденных расходов, руб." />
		<add key="tax_2.7" value="g;Double;Сумма стандартных налоговых{NewLine}вычетов, руб." />
		<add key="tax_2.8" value="h;Double;Сумма УНКД, уменьшающая, доход по{NewLine}коду 1011, руб." />
		<add key="tax_2.9" value="i;Double;Сумма убытка по ЦБ, перенесенная на доход{NewLine}по коду 1011, руб." />
		
		<add key="tax_final:order" value="22" />
		<add key="tax_final:caption" value="Итоговый финансовый результат" />
		<add key="tax_final.1" value="a;String;Ставка" />
		<add key="tax_final.2" value="b;String;Сумма{NewLine}дохода, руб." />
		<add key="tax_final.3" value="c;Double;Облагаемая сумма{NewLine}дохода, руб." />
		<add key="tax_final.4" value="d;Double;Сумма налога{NewLine}исчисленная, руб." />
		<add key="tax_final.5" value="e;String;Сумма налога{NewLine}удержанная, руб." />
		<add key="tax_final.6" value="f;Double;Сумма налога к удержанию или сумма излишне удержанного налога{NewLine}(указывается со знаком минус), руб." />
		<add key="tax_final.7" value="g;Double;Сумма документально подтвержденных{NewLine}расходов, руб." />
		<add key="tax_final.8" value="h;Double;Сумма стандартных налоговых{NewLine}вычетов, руб." />
		<add key="tax_final.9" value="i;Double;Сумма убытка, со знаком{NewLine}минус, руб." />
		<!-- Налоги -->
		
		<!-- generated daily position -->
		<add key="position:order" value="0" />
		<add key="position:caption" value="Позиция" />
		<add key="position.1" value="TradingSys;String;Площадка" />
		<add key="position.2" value="Date;DateTime;Дата" />
		<add key="position.3" value="Instrument;String;Инструмент" />
		<add key="position.4" value="ISIN;String;ISIN" />
		<add key="position.5" value="Quantity;Double;Количество, шт." />
		<add key="position.6" value="AmountIn;Double;AmountIn" />
		<add key="position.7" value="AmountOut;Double;AmountOut" />
		<add key="position.8" value="NominalCurrency;String;NominalCurrency" />
		<add key="position.9" value="Nominal;Double;Nominal" />
		<add key="position.10" value="PriceCurrency;String;PriceCurrency" />
		<add key="position.11" value="Price;Double;Price" />
		<add key="position.12" value="AmountCUR;Double;AmountCUR" />
		<add key="position.13" value="AmountRUB;Double;AmountRUB" />
		
		<!-- 
			generated PL 
			с короткими позициями корректно не работает
			однодневные позиции не отлавливает, если продается в 0
			номинал бонда определям в сделках по формуле Amount / Qty / Price * 100
			две колонки в конце - формулы
		-->
		<add key="PL:order" value="1" />
		<add key="PL:caption" value="PL" />
		<add key="PL.1" value="Instrument;String;Инструмент" />
		<add key="PL.2" value="ISIN;String;ISIN" />
		<add key="PL.3" value="Currency;String;Валюта" />
		
		<add key="PL.4" value="DateBegin;DateTime;Дата{NewLine}начала" />
		<add key="PL.5" value="QtyBegin;Double;Количество{NewLine}на начало" />
		<add key="PL.6" value="AmountBegin;Double;Стоимость{NewLine}на начало" />

		<add key="PL.7" value="NominalBegin;Double;Номинал{NewLine}на начало" />
		<add key="PL.8" value="AvgPriceBegin;Double;Средняя цена{NewLine}на начало" />

		<add key="PL.9" value="BuyQty;Double;Покупки/{NewLine}вводы, шт." />
		<add key="PL.10" value="BuyAmount;Double;Покупки" />
		<add key="PL.11" value="SellQty;Double;Продажи/{NewLine}выводы, шт." />
		<add key="PL.12" value="SellAmounnt;Double;Продажи" />
		<add key="PL.13" value="CommBrok;Double;Комиссия{NewLine}Брокера" />
		<add key="PL.14" value="CommExch;Double;Комиссия{NewLine}Биржи" />
		<add key="PL.15" value="Coupons;Double;Купоны" />
		<add key="PL.16" value="Dividends;Double;Дивиденды" />
		<add key="PL.17" value="Tax;Double;Налоги" />
		<add key="PL.18" value="Repaiment;Double;Погашение" />
		
		<add key="PL.19" value="DateEnd;DateTime;Дата{NewLine}окончания" />
		<add key="PL.20" value="QtyEnd;Double;Количество{NewLine}на конец" />
		<add key="PL.21" value="AmountEnd;Double;Стоимость{NewLine}на конец с НКД" />

		<!-- PL expressions -->
		<add key="PL.22" value="PLCurr;Double;PL, curr;IF(ISBLANK({ISIN}),0,{AmountEnd}+{Repaiment}-{AmountBegin}-{BuyAmount}-{CommBrok}-{CommExch}+{SellAmounnt}+{Coupons}+{Dividends}-{Tax})" />
		<add key="PL.23" value="PLPercent;Double;PL, %;IF(ISBLANK({ISIN}),0,{PLCurr}*100/{AmountBegin})" />

		<!-- Prices -->
		<!-- instruments -->
		<add key="Prices:order" value="100" />
		<add key="Prices:caption" value="Prices" />
		<add key="Prices.1" value="Date;DateTime;Date" />
		<add key="Prices.3" value="ISIN;String;ISIN" />
		<add key="Prices.4" value="Nominal;Double;Nominal" />
		<add key="Prices.5" value="NominalCurrency;String;NominalCurrency" />
		<add key="Prices.6" value="Price;Double;Price" />
		<add key="Prices.7" value="PriceCurrency;String;PriceCurrency" />
		<add key="Prices.8" value="AccInt;Double;AccInt" />

		<!-- currencies -->
		<add key="Rates:order" value="101" />
		<add key="Rates:caption" value="Rates" />
		<add key="Rates.1" value="Date;DateTime;Date" />
		<add key="Rates.2" value="Instrument;String;ISIN" />
		<add key="Rates.3" value="Course2USD;Double;Course2USD" />
		<add key="Rates.4" value="Course2RUB;Double;Course2RUR" />
		
	</appSettings>
</configuration>

